@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  max-width: 1610px;
  margin: 0 auto;
  font-family: "DM Sans";
}

.container {
  max-width: 1190px;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0 0 0 10px;
  }
}

.header {
  width: 100%;
}
.header__wrapper {
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .header__wrapper {
    height: 60px;
    padding: 16px 20px;
  }
}
.header__logo > img {
  width: 100%;
  height: 100%;
}
@media (max-width: 480px) {
  .header__logo {
    width: 89px;
  }
}
.header__contacts {
  display: flex;
  align-items: center;
}
.header__button {
  width: 224px;
}
@media (max-width: 480px) {
  .header__button {
    display: none;
  }
}

.contacts-phone__text {
  font-size: 15px;
  line-height: 150%;
  color: #858585;
}
.contacts-phone__number {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #171717;
}

.contacts-social {
  margin: 0 0 0 80px;
  display: flex;
}
@media (max-width: 480px) {
  .contacts-social {
    display: none;
  }
}
.contacts-social__item {
  width: 32px;
  height: 32px;
  margin: 0 10px 0 0;
}
.contacts-social__link {
  width: 100%;
  height: 100%;
  display: block;
}
.contacts-social__instagram {
  background: url("../img/icons/instagram.png") center no-repeat;
}
.contacts-social__instagram:hover {
  background: url("../img/icons/instagramHover.png") center no-repeat;
}
.contacts-social__linkedin {
  background: url("../img/icons/linkedin.png") center no-repeat;
}
.contacts-social__linkedin:hover {
  background: url("../img/icons/linkedinHover.png") center no-repeat;
}
.contacts-social__facebook {
  background: url("../img/icons/facebook.png") center no-repeat;
}
.contacts-social__facebook:hover {
  background: url("../img/icons/facebookHover.png") center no-repeat;
}

.mistakes {
  background: url("../img/main-ibg.png") 0 0 no-repeat;
}
@media (max-width: 480px) {
  .mistakes {
    background-position: 50% 0;
  }
}
.mistakes__wrapper {
  padding: 93px 5px 76px 0;
}
@media (max-width: 480px) {
  .mistakes__wrapper {
    padding: 70px 0 50px 0;
  }
}
.mistakes__title {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 15px 0;
}
@media (max-width: 480px) {
  .mistakes__title {
    font-size: 44px;
    line-height: 120%;
  }
}
.mistakes__yellow-bgc {
  background-color: #ff9533;
  color: ye;
}
.mistakes__green-line {
  display: inline-flex;
  flex-direction: column;
}
.mistakes__green-line::after {
  content: "";
  width: 100%;
  height: 15px;
  margin: -14px 0 0 0;
  background: url(../img/greenLine.png) 0 0 no-repeat;
}
.mistakes__subtitle {
  font-family: "Bebas Neue";
  max-width: 500px;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: #ffffff;
  margin: 0 0 70px 0;
}
@media (max-width: 480px) {
  .mistakes__subtitle {
    font-size: 36px;
    line-height: 100%;
  }
}
.mistakes__items {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 480px) {
  .mistakes__items {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
  }
}
.mistakes__item {
  max-width: 375px;
  background: #fff;
  margin: 0 20px 20px 0;
  position: relative;
  padding: 28px 23px 10px 68px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .mistakes__item {
    flex: 1 0 100%;
    max-width: 315px;
  }
}
.mistakes__item-last {
  display: flex;
  order: 7;
  background-color: inherit;
  padding: 36px 45px 15px 45px;
}
@media (max-width: 480px) {
  .mistakes__item-last {
    display: none;
  }
}
.mistakes__item-last-mobile {
  display: none;
}
@media (max-width: 480px) {
  .mistakes__item-last-mobile {
    display: block;
    max-width: 325px;
    padding: 36px 20px 15px 20px;
    background-color: inherit;
    margin: 0 auto;
  }
}

.mistakes-item__number {
  width: 48px;
  height: 48px;
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #ff9533;
  position: absolute;
  top: 0;
  left: 0;
}
.mistakes-item__title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #ff9533;
  margin: 0 0 15px 0;
}
@media (max-width: 480px) {
  .mistakes-item__title {
    font-size: 20px;
  }
}
.mistakes-item__body {
  font-size: 15px;
  line-height: 150%;
  color: #171717;
}
@media (max-width: 480px) {
  .mistakes-item__body {
    font-size: 14px;
  }
}
.mistakes-item__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
}
.mistakes-item__text > span {
  color: #35b984;
}
.mistakes-item__button {
  width: 224px;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .mistakes-item__button {
    margin: 30px auto 20px auto;
  }
}
.mistakes-item__footer {
  font-size: 15px;
  line-height: 138%;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
}
.mistakes-item__footer:before {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  margin: 0 5px 0 0;
  background: url("../img/icons/iconDollars.png");
}

.offshore-company-professionals {
  padding: 100px 0;
}
@media (max-width: 480px) {
  .offshore-company-professionals {
    padding: 50px 20px;
  }
}

.offshore-company {
  margin: 0 0 50px 0;
}
.offshore-company__title {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #171717;
  margin: 0 0 40px 0;
}
@media (max-width: 480px) {
  .offshore-company__title {
    font-size: 30px;
    margin: 0 0 20px 0;
  }
}
.offshore-company__items {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 480px) {
  .offshore-company__items {
    flex-direction: column;
  }
}
.offshore-company__item {
  flex: 0 1 380px;
  height: 334px;
  margin: 0 20px 0 0;
  padding: 33px 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 10px rgba(133, 133, 133, 0.2);
}
.offshore-company__item:last-child {
  margin: 0;
}
.offshore-company__item:nth-child(1)::before {
  content: "";
  width: 64px;
  height: 64px;
  background: url(../img/icons/offshoreCompany-item-1.png) center no-repeat;
}
.offshore-company__item:nth-child(2)::before {
  content: "";
  width: 64px;
  height: 64px;
  background: url(../img/icons/offshoreCompany-item-2.png) center no-repeat;
}
.offshore-company__item:nth-child(3)::before {
  content: "";
  width: 64px;
  height: 64px;
  background: url(../img/icons/offshoreCompany-item-3.png) center no-repeat;
}
@media (max-width: 480px) {
  .offshore-company__item {
    flex: 0 0 335px;
    margin: 0 0 20px 0;
    height: 290px;
  }
}
.offshore-company__text {
  flex: 1 1 auto;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  align-self: baseline;
  color: #171717;
  margin: 25px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 480px) {
  .offshore-company__text {
    font-size: 18px;
  }
}

.professionals {
  padding: 100px 0;
  background: #eee url(../img//professoinals-ibg.png) center no-repeat;
}
.professionals__title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #35b984;
  margin: 0 0 40px 0;
}
.professionals__title > span {
  color: #171717;
}
@media (max-width: 480px) {
  .professionals__title {
    font-size: 32px;
    padding: 0 40px;
  }
}
.professionals__text {
  max-width: 650px;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  color: #171717;
  margin: 0 auto 40px auto;
}
@media (max-width: 480px) {
  .professionals__text {
    font-size: 18px;
    padding: 0 20px;
  }
  .professionals__text > br {
    display: none;
  }
}
.professionals__button {
  width: 224px;
  margin: 0 auto;
}

.color-green {
  color: #35b984;
}

.color-red {
  color: #fc2f2f;
}

.learn-more__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #35b984;
  margin: 11px 0 0 0;
}
.learn-more__link:after {
  content: ">";
  width: 24px;
  height: 24px;
  padding: 0 5px;
  border: 1px solid #35b984;
  border-radius: 50%;
  margin: 0 0 0 10px;
}

.button-main {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  text-transform: uppercase;
  color: #fff;
  padding: 8px 18px;
  gap: 5px;
  background: #35b984;
  width: 100%;
  height: 100%;
}
.button-main:hover {
  border: 2px solid #35b984;
  background: #fff;
  color: #35b984;
}/*# sourceMappingURL=style.css.map */